*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* sheared styles */
.display-flex {
    display: flex;  
}
.dark-1 {
    color: #131313;
}
.dark-2 {
    color: #424242;
}
.dark-3 {
    color: #727272;
}
 .pad30{
    padding-bottom: 30px;
 }

.btn-pry {
    background-color: #FF9000;
    color: white;
    padding: 20px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: semi-bold;
    
}


main {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
   }
   section {
    margin-top: 60px;
   }
    


/* header style */

header {
    width: 100%;
    height:auto;
    margin: 0 auto;
    padding: 0 50px;
    background-color:rgb(165, 196, 226);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:18px;
    font-weight: medium;
    padding: 0 150px;
}
nav>h3 {
    font-weight: bold;
    font-size: 3rem;
}
#list  {
    display: flex;
    gap: 20px;
    list-style-type: none;
    gap: 40px;
    font-size: 20px;  
}

a {
    text-decoration: none;
    color: black;
}

.banner-content {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

.banner-heading {
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 40px;
}
.banner-descriotion {
    font-size: 1.6rem;
    padding-bottom: 30px;
}
 
img {
    width: 100%;
    height: auto;
    padding-top: 40px;
}


/* feature section style */
.fe-pi-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
   width: 100%;
    margin: 0 auto;
   padding: 60px 50px;
}
.team {
    align-items: center;
    gap: 60px;

}
.fe-pi-content {
    width: 100%;
    margin: 0 auto;
    padding: 60px 50px; 
}
#quick {
    font-size: 2.8rem;
    padding-bottom: 30px;
}

/* extra features style */
#love-title {
    border-left: 5px solid #FF9000;
    padding-left: 20px;
}
.exta-features {
    gap: 54px;
}
.love-container {
    background-color:rgb(251, 247, 247);
}
.love-des {
    background-color: #ffffff;
    padding: 60px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.
 #large{
    font-size: 4rem;
    font-weight: bold;
 } 
 .badge {
    font-size: 1.5rem;
    font-weight:500;
    padding: 45px 42px;
    margin-left: -30px;
    margin-top: -180px;
 }
 
 /* facts style */
 .fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 40px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 50px;
 }

 .fact-title {
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 60px;
 }
 .fact {
    width: 240px; height: 240px;
    border-radius: 8px;
    border: 1px solid red;
    text-align: center;
    justify-content: center;
    
 }
 .fact > img {
    width: 45px; height: 80px;
    
 }
 
 .section-title {
    font-size: 2.8rem;
    font-weight: bold;
    padding-bottom: 20px;
 }
 .fact-icon {
    margin-top: 40px;
 }
 .fact-name {
    font-size: 1.1rem;
    font-weight: semibold;
    color: #727272;
    margin-top: 10px;
 }
 .fact-number {
    font-size: 2.8rem;
    font-weight: semibold;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
 }

 /* sponsors section style */
 .sponspors {
    padding-top: 40px;
 }
 
 .sponsors-title {
    font-size: 2.8rem;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    padding: 60px 50px;
    text-align: center;
 }
 .sponsors-des {
    padding: 20px;
    font-size: 1rem;
    font-weight: regular;
    text-align: center;
 }
 .sponsors-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   place-items: center;
    gap: 20px;
   
   
 }
 .sponsors-companies>img {
    filter: grayscale(100%);
    width: 100px;
    height: auto;
 }
 /* footer style */
footer {
padding: 130px;
font-size:1rem;
font-weight: regular;
text-align: center;
margin: 130px 0 0 0;
background-color:rgb(252, 237, 237)
    
}

/* responsive style */

@media screen and (max-width: 576px) {
header {
    background-color:rgb(194, 248, 112)
}

    #list, .navbar, .team, .exta-features {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    .fe-pi-content {
        text-align: center;
        padding-top: 20px;
    }
    .fact-container, .sponsors-companies {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        text-align: center;
    }
    .sponsors-companies > img {
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 577px) and (max-width:992px) {
    .display {
        display: none;
}

header {
    background-color:rgb(191, 112, 248)
}
    #list, .navbar, .team, .exta-features  {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        gap: 30px;
    }
    .fe-pi-content {
        text-align: center;
        padding-top: 20px;
    }
    .fact-container, .sponsors-companies {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 30px;
        text-align: center;
    }
    .sponsors-companies{
        gap: 20px;
    }
}
    